# --- BASE DE DATOS MYSQL ---
DB_HOST=mysql...
DB_PORT=11111
DB_USER=user
DB_PASSWORD=password
DB_NAME=dbname

# --- GOOGLE OAUTH 2.0 ---
GOOGLE_CLIENT_ID=345678908765
GOOGLE_CLIENT_SECRET=bhjbiuh89uiub
GOOGLE_CALLBACK_URL=http://localhost

# --- SEGURIDAD JWT Y FRONTEND ---
JWT_SECRET=SECRET
FRONTEND_URL=http://localhost

GMAIL_USER=correo@gmail.com
GMAIL_PASS=xxxx xxxx xxxx xxxx


PAYPAL_CLIENT_ID=234567890hjbjhbj
PAYPAL_CLIENT_SECRET=kbhiuhgiug9gh89g89g8vb89
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com